#logo {
  margin-top: 1px;
  margin-left: 1px;
  max-width: 130px;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
}
/* #logomenu {
  width: 80%;
  display: flex;
} */
nav {
  background-color: #ececec;
}
#menuitem {
  font-style: italic;
  color: #30475e;
}

.btnMenu {
  align-self: flex-end;
  /* background-color:  !important; */
  border-radius: 0px 0px 0px 0px !important;
  align-items: flex-end;
}
